* {
    transition: all ease 0.5s;

}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(150deg, red, orange);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Wellfleet', serif;

    display: flex;
    align-items: center;

}

header h1 {
    margin: auto;
    font-size: 72px;
}

header h1 span {
    color: red;
}

#cont {
    justify-content: center;
    background-color: white;
    width: 40%;
    margin: auto;
    box-shadow: 0px 0px 60px #0000006c;
    border-radius: 30px;
    margin-top: auto;
    padding: 20px;
}

#cont img {
    height: 70px;
    width: 70px;
}

#dabba {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    padding: 0px;
    height: fit-content;
}

#main #button {
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    font-family: 'Wellfleet', serif;
    width: 40%;
    height: 3rem;
    border-radius: 20px;
    border: none;
}

#button button:hover {
    box-shadow: 0px 0px 10px greenyellow;
    border: 2px solid yellow;
    transition: all 0.5s ease;
}

#dabba {
    text-align: center;
}

#start_btn {
    background-color: greenyellow;
}

#draw_card_btn {
    background-color: orange;
}

#reset_btn {
    margin-top: 1rem;
    background-color: #6352ff;
}